<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search ID" name="id" [(ngModel)]="id">
  </form>
</div>

<div class="card" *ngIf="bankData">
  <div class="list">
    <div class="bank-item-header">Bank List</div>

    <div class="bank-item-block">

      <div class="bank-item-label">
        <img class="symbol" src="assets/img/block.png">
        <span class="span">ID: {{ bankData.id }}</span>
      </div>

      <div class="bank-item-value">
        account number: {{ bankData.account_number }} 


      </div>

    </div>
      
  </div>
  
  <div class="container" *ngIf="bankData">
    <div class="upper-data">
      <img class="main-image" src="assets/img/blockchain.jpg">
      
      <div class="bank-data">
        <div class="bank-id">ID: {{ bankData.id }} </div>
        <div class="bank-ip">{{ bankData.ip_address }}</div>
      </div>
    </div>
  
    <div class="lower-data">
      <div class="info-label">
        Bank Information
      </div>
  
      <div class="info-container">
  
        <div class="info-block">
          
          <div class="info-block-label">
            <img class="symbol" src="assets/img/bank.png">
            <span class="span">account number</span>
          </div>
          <div class="info-block-value">
            {{ bankData.account_number }}
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <img class="symbol" src="assets/img/bank.png">
            <span class="span">node identifier</span>
          </div>
          <div class="info-block-value">
            {{ bankData.node_identifier }}
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <img class="symbol" src="assets/img/bank.png">
            <span class="span">protocol</span>
          </div>
          <div class="info-block-value">
            {{ bankData.protocol }}
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <img class="symbol" src="assets/img/bank.png">
            <span class="span">port</span>
          </div>
          <div class="info-block-value">
            {{ bankData.port }}
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <img class="symbol" src="assets/img/bank.png">
            <span class="span">transaction fee</span>
          </div>
          <div class="info-block-value">
            {{ bankData.transaction_fee }}
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <img class="symbol" src="assets/img/bank.png">
            <span class="span">trust</span>
          </div>
          <div class="info-block-value">
            {{ bankData.trust }}
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
</div>



<!-- <div class="container">
  <div class="upper-data">
    <img class="main-image" src="assets/img/blockchain.jpg">
    
    <div class="weather-data">
      <div class="bank-id">ID</div>
      <div class="bank-ip">IP ADDRESS</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="info-label">
      Bank Information
    </div>

    <div class="info-container">

      <div class="info-block">
        
        <div class="info-block-label">
          <img class="symbol" src="assets/img/bank.png">
          <span class="span">account number</span>
        </div>
        <div class="info-block-value">
          VALUE1
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img class="symbol" src="assets/img/bank.png">
          <span class="span">node identifier</span>
        </div>
        <div class="info-block-value">
          VALUE2
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img class="symbol" src="assets/img/bank.png">
          <span class="span">protocol</span>
        </div>
        <div class="info-block-value">
          VALUE3
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img class="symbol" src="assets/img/bank.png">
          <span class="span">port</span>
        </div>
        <div class="info-block-value">
          VALUE4
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img class="symbol" src="assets/img/bank.png">
          <span class="span">transaction fee</span>
        </div>
        <div class="info-block-value">
          VALUE4
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img class="symbol" src="assets/img/bank.png">
          <span class="span">trust</span>
        </div>
        <div class="info-block-value">
          VALUE4
        </div>
      </div>

    </div>

  </div>
</div>
-->

<router-outlet></router-outlet>