<div class="container">
  <div class="upper-data">
    <img class="main-image" src="assets/img/blockchain.jpg">
    
    <div class="weather-data">
      <div class="bank-id">1</div>
      <div class="bank-ip">1.1.1.1</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="info-label">
      Bank Information
    </div>

    <div class="info-container">

      <div class="info-block">
        
        <div class="info-block-label">
          <img class="symbol" src="assets/img/bank.png">
          <span class="span">PROPERTY1</span>
        </div>
        <div class="info-block-value">
          VALUE1
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img class="symbol" src="assets/img/bank.png">
          <span class="span">PROPERTY2</span>
        </div>
        <div class="info-block-value">
          VALUE2
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img class="symbol" src="assets/img/bank.png">
          <span class="span">PROPERTY3</span>
        </div>
        <div class="info-block-value">
          VALUE3
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img class="symbol" src="assets/img/bank.png">
          <span class="span">PROPERTY4</span>
        </div>
        <div class="info-block-value">
          VALUE4
        </div>
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>